// TODO: Is hiding this content bad for SEO? How do crawlers currently work? This CSS won't trigger unless the Vuej ass builds
#static-stories.hide {
  display: none;
}

.navigation {
  z-index: 20;
  position: relative;
}

nav {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  top: 30%;
}

.floor {
  flex: 1;
  width: 100%;
  position: relative;
}

$building-height-sm: 420vw;
// $building-height-md: 955px;
// $building-height-lg: 955px;

.articles {
  height: 420vw;
  // min-width: $building-width;
  // padding: 20px;
  width: 100%;
  position: relative;

  @at-root #{&}__building {
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    img {
      height: 100%;
      // width: $building-width;
      width: 100%;
      width: auto;
    }
  }

  @at-root #{&}__list-container {
    position: absolute;
    margin-top: 0;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
      position: absolute;
      top: 0;
      list-style: none;
      left: 450px;
    }

    li::before {
      content: "•";
      font-size: 420%; /* or whatever */
      position: absolute;
      right: 0;
      color: #00ffd1;
    }

    li:hover div {
      display: block;
    }
  }
}

.card {
  position: absolute;
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
  background: #cfd7da;
  box-shadow: 0 5px 4px 1px #444c;
  color: #230000;
  padding: 30px;
  height: 440px;
  width: 550px;
  overflow: hidden;

  @at-root #{&}--hidden {
    display: none;
  }
}
